// Tables
// stylelint-disable max-nesting-depth, selector-no-type, selector-max-type

.table-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 0 !important;
  margin-bottom: 0;
  overflow-x: auto;
  border-radius: $border-radius;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 3px 10px rgba(0, 0, 0, 0.08);
}

// Fixes vertical spacing between heading and table
h2 + .table-wrapper,
h3 + .table-wrapper {
  margin-top: 0 !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

thead {
  background-color: $grey-lt-100;

  th {
    font-weight: bold;
    padding: $sp-2 $sp-3;
    background-color: $grey-lt-100;
    text-align: left;
    border: 1px solid #666; // darker border
  }
}

tbody {
  tr {
    &:nth-child(even) {
      background-color: $grey-lt-000;
    }

    &:hover {
      background-color: lighten($grey-lt-000, 10%);
      transition: background-color 0.2s ease;
    }

    &:last-of-type {
      td {
        padding-bottom: $sp-3;
        border-bottom: 1px solid #666; // ensure final row ends cleanly
      }
    }
  }
}

th,
td {
  min-width: 7rem;
  padding: $sp-2 $sp-3;
  border: 1px solid #aaa; // darker lines for rows/cols
  background-color: $white;
  vertical-align: top;
  text-align: left;
  line-height: $content-line-height;

  &:first-of-type {
    border-left: 1px solid #aaa;
  }
}
